body {
    background-color: rgb(250, 235, 215);
    margin: 0;
    height: 200vh;
    max-height: fit-content;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

header {
    background-color: rgb(255, 188, 159);
    height: 8vh;
    top: 0;
    position: sticky;
    overflow: hidden;
    width: 100%;
    justify-content: space-around;
}

.navbar {
    width: 100%;
    justify-content: space-around;
    text-align: center;
}

.content {
    margin: auto;
    margin-top: 5%;
}


header a {
    text-decoration: none;
    color: black;
    font-size: 2.1rem;
}

.navbar a:hover {
    transform: scale(2, 2);
}

.row {
    display: flex;
    align-items: flex-start;
    margin-top: 5%;
    margin-bottom: 5%;
}

.col {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.container {
    background-color: white;
    padding: 1%;
    margin: auto;
    height: 40vh;
    border: 5px;
    border-radius: 15px;
    border-color: rgb(255, 217, 200);
    width: 40%;
    transition: width 1s, height 1s;
}

.container-info:hover {
    width: 50%;
}

.container-foto {
    background-color: white;
    margin: auto;
    border: 5px;
    border-radius: 100%;
    border-color: rgb(255, 217, 200);
    height: 40vh;
    width: 40vh;
    transition: width 1s, height 1s;
    overflow: hidden;
}

.container-foto:hover {
    height: 50vh;
    width: 50vh;
}

.container-projeto {
    background-color: white;
    border: 5px;
    margin: auto;
    border-radius: 15px;
    border-color: rgb(255, 217, 200);
    height: 18vh;
    width: 25%;
    padding: 10px;
    transition: width 1s, height 1s;
    max-height: 20vh;
}

.container-projeto:hover {
    width: 30%;
}

.projeto-btn {
    background-color: rgb(0, 153, 255);
    border: none;
    border-radius: 7px;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    overflow: hidden;
}

.projeto-btn:hover {
    background-color: rgb(0, 132, 219);
    border: none;
    border-radius: 7px;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.container-linguagens{
    height: 200vh;
    width: 91%;
    max-height: fit-content;
}

.container-linguagens:hover{
    width: 95%;
}

.accordion {
    background-color: rgb(255, 250, 243);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: rgb(250, 235, 215);
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  @media only screen and (max-width: 1768px) {
    .row{
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .container{
        width: 90%;
        transition: none;
        margin-top: 5%;
    }
    
    .container-projeto{
        width: 90%;
        margin-bottom: 5%;
        transition: none;
    }

    .container-info:hover {
        width: 92%;
    }

    .container-projeto:hover{
        width: 92%;
    }

    @media only screen and (max-width: 600px) {
        .row{
            flex-direction: column;
            margin-top: 5%;
            margin-bottom: 5%;
            transition: none;
        }
    
        .container{
            width: 90%;
            margin-top: 5%;
            height: 50vh;
            transition: none;
        }
        
        .container-projeto{
            width: 90%;
            margin-bottom: 5%;
            transition: none;
        }
    
        .container-info:hover {
            width: 92%;
            transition: none;
        }
    
        .container-projeto:hover{
            width: 92%;
            transition: none;
        }
    
        .container-foto:hover{
            margin-bottom: 5%;
        }
      }
  }